<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Math</h1>
    <form method="get" action="/math">
      
      <input type="submit" value="submit">
    </form>
   
 
 
  </div>
</div>


</body>
</html>
